<div class="heart-container">
    <a href="{{ app.user ? path('fav.product', { id: product.id }) : path('app_login') }}" data-controller="fav" data-fav-target="name" data-action="{{ app.user ? 'click->fav#favorite' : null }}">
        <i class="fa-heart filled {{ app.user in product.favorite ? 'fa-solid' : 'fa-regular' }}"></i> 
   
    </a>
</div>

