{% extends "base.html.twig" %}

{% block title %} A propos - {{ parent() }} {% endblock %}

{% block body %}
    <div class="container-lg">

        <div class="my-5">
            <div class="card-body">
                <h1 class="card-title">LA<span>X</span>AR</h1>
                <h2 class="card-text">horlogerie en ligne vous proposant des produits de qualité</h2>
            </div>
            <img src="{{ asset('img/watch-about.png') }}" class="card-img-bottom" alt="montre">
        </div>
        

        <div>
            <h3>Notre Histoire</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet optio nihil sed, consequatur officiis illo nam placeat ea quibusdam nobis ad itaque nulla id quae, repellat in! Numquam, sunt quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet optio nihil sed, consequatur officiis illo nam placeat ea quibusdam nobis ad itaque nulla id quae, repellat in! Numquam, sunt quamLorem ipsum dolor sit amet consectetur adipisicing elit. Amet optio nihil sed, consequatur officiis illo nam placeat ea quibusdam nobis ad itaque nulla id quae, repellat in! Numquam, sunt quam
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet optio nihil sed, consequatur officiis illo nam placeat ea quibusdam nobis ad itaque nulla id quae, repellat in! Numquam, sunt quam
            </p>
        </div>

        <div>
            <h3>Nos Valeurs</h3>
            <div class="d-flex justify-content-between gap-4">
                <div class="card-body">
                    <h5 class="card-title">Qualité</h5>
                    <p class="card-text">quibusdam nobis ad itaque nulla id quae, repellat in! Numquam, sunt quam.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Services Adaptés</h5>
                    <p class="card-text">quibusdam nobis ad itaque nulla id quae, repellat in! Numquam, sunt quam.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Engagement</h5>
                    <p class="card-text">quibusdam nobis ad itaque nulla id quae, repellat in! Numquam, sunt quam.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}