{% extends 'base.html.twig' %}

{% block title %}Laxar - Ventes de montres
{% endblock %}

{% block body %}
	<div class="banner container-fluid">
		<div class="container-lg"></div>
	</div>

{% endblock %}
