.order-recap{
    background-color: #F0F0F0;
    height: 600px;
}

.bonus{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

.container-cart{
    border: 2px solid black;
}