.heart-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 25px;
  top: 13px;
}

.hidden {
  display: none;
}

.filled,
.unfilled {
  color: $color-primary;
  &:hover {
    filter: brightness(0.85);
  }
}

a {
  text-decoration: none;
}
