.banner {
  background-color: $color-dark;
  color: $color-primary;
  .banner-img-col {
    @media (max-width: 767px) {
      height: 250px;
    }
  }
  .banner-img {
    top: 0%;
    right: 25%;
    width: 280px;
    @media (max-width: 1200px) {
      top: 10%;
    }
    @media (max-width: 995px) {
      top: 20%;
    }
    @media (max-width: 813px) {
      top: 30%;
    }
    @media (max-width: 795px) {
      top: 35%;
    }
    @media (max-width: 767px) {
      top: 0%;
    }
  }
}

.about-watch-text {
  margin: 320px auto 0 auto;
}
.about-watch {
  > div {
    background-color: $color-dark;
    @media (max-width: 767px) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 11px;
        right: 11px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .about-watch-img1 {
    position: absolute;
    width: 28%;
    left: 11.8%;
    top: -68%;
  }
  .square {
    background-color: $color-primary;
    width: 72%;
    height: 33%;
    margin-left: 16%;
  }
  .about-watch-img {
    position: relative;
    width: 70%;
    left: 25%;
  }
  .text {
    top: 50%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
