.banner {
  background-color: $color-dark;
  color: $color-primary;
  .banner-img-col {
    @media (max-width: 767px) {
      height: 250px;
    }
  }
  .banner-img {
    top: 0%;
    right: 25%;
    width: 280px;
    @media (max-width: 1200px) {
      top: 10%;
    }
    @media (max-width: 995px) {
      top: 20%;
    }
    @media (max-width: 813px) {
      top: 30%;
    }
    @media (max-width: 795px) {
      top: 35%;
    }
    @media (max-width: 767px) {
      top: 0%;
    }
  }
}

.about-watch {
  margin: 100px auto;
  > div {
    background-color: $color-dark;
  }
  .about-watch-img {
    position: relative;
    width: 30%;
    left: 60%;
  }
}

.image-laxar{
  width: 100%;
}

.price{
  color: $color-primary;
  font-size: xx-large;
}

.width-flex{
    width: 33%;

}
.size-filter{
  width: 100px;
  height: 100px;
  opacity: 0.8;
  border: 3px solid rgb(117, 115, 115);
  object-fit: cover;

  &:hover{
    opacity: 0.5;
    cursor: pointer;
  }
}


.contenu-flex{
  display: flex;
  flex-direction: column;
  width: 33%;
}

.colors{
  width: 50px;
  height: 50px;
  border: 2px solid $color-primary;

  &:hover{
    opacity: 0.8;
    cursor: pointer;
  }
}

.red{
  background-color: rgb(180, 68, 68);
}

.black{
  background-color: rgb(32, 32, 32);
}

.filter-watch{
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  
}

