.banner {
  background-color: $color-dark;
  color: $color-primary;
  .banner-img-col {
    @media (max-width: 768px) {
      height: 250px;
    }
  }
  .banner-img {
    top: 0%;
    right: 25%;
    width: 300px;
    @media (max-width: 1200px) {
      top: 10%;
    }
    @media (max-width: 995px) {
      top: 20%;
    }
    @media (max-width: 813px) {
      top: 30%;
    }
    @media (max-width: 795px) {
      top: 35%;
    }
    @media (max-width: 767px) {
      top: 0%;
    }
  }
}

.about-watch-text {
  margin: 180px auto 0 auto;
}
.about-watch {
  > div {
    background-color: $color-dark;
    @media (max-width: 767px) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 11px;
        right: 11px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .about-watch-img1 {
    position: absolute;
    width: 28%;
    left: 12.2%;
    top: -68%;
  }
  .square {
    background-color: $color-primary;
    width: 72%;
    height: 33%;
    margin-left: 16%;
  }
  .about-watch-img {
    position: relative;
    width: 70%;
    left: 25%;
  }
  .text {
    top: 50%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.product {
  .filter-watch {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 20px;
  }

  .width-flex {
    width: 300px;
  }
  .little-pictures {
    width: 100px;
    height: 100px;
    opacity: 0.8;
    border: 3px solid rgb(117, 115, 115);
    object-fit: cover;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .contenu {
    min-width: 360px;
    max-width: 33%;
    .price {
      color: $color-primary;
      font-size: xx-large;
    }
  }
}

.similar-product {
  background-color: #f0f0f0;
  .watch {
    width: 280px;
  }
}

.home-review {
  position: relative;
  background-color: #fbfbfb;
  .quote {
    &::before {
      content: '';
      position: absolute;
      background-color: #f0f0f0;
      height: 70px;
      width: 30px;
      top: -10%;
      left: 50px;
    }
    &::after {
      content: '';
      position: absolute;
      background-color: #fbfbfb;
      height: 25px;
      width: 50px;
      top: 5%;
      left: 50px;
      transform: rotateZ(-45deg);
    }
  }
  .quote2 {
    &::before {
      content: '';
      position: absolute;
      background-color: #f0f0f0;
      height: 70px;
      width: 30px;
      top: -10%;
      left: 100px;
    }
    &::after {
      content: '';
      position: absolute;
      background-color: #fbfbfb;
      height: 25px;
      width: 50px;
      top: 5%;
      left: 100px;
      transform: rotateZ(-45deg);
    }
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: static;
  display: inline-flex;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 100px;
  background-color: $color-primary;
  top: 80%;
}

.carousel-control-prev {
  left: 80%;
}
.carousel-control-next {
  right: 10%;
}

.carousel-btn {
  position: absolute;
  left: 80%;
  top: 80%;
  width: 85px;
  display: flex;
  justify-content: space-between;
}

.desactive-color {
  filter: opacity(0.5);
}
