.loginNav {
    padding: 0;

    .nav-tabs {
    
        .nav-item {
            width: 50%;
           
        }
            
        .nav-link {
            padding: 9px;
            text-align: center;
            border-radius: 5px 5px 5px 0;
        }

        .nav-link.active {
            text-align: center;
            background-color: $primary;
            color: #000000;
            border: none;
            padding: 10px;
            border-radius: 5px 5px 5px 0;
        }
    }
}


.loginForm {
    .btn-primary {
        --bs-btn-color: #000000;
        --bs-btn-bg: #c3a07c;
        --bs-btn-border-color: #c3a07c;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #90765c;
        --bs-btn-hover-border-color: #284a6d;
        --bs-btn-focus-shadow-rgb: 81,117,154;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #284a6d;
        --bs-btn-active-border-color: #264666;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #325d88;
        --bs-btn-disabled-border-color: #325d88;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #3e3f3a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .375rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
}