.container-main {
  padding: 30px 20px;
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  @media (max-width: 1200px) {
    flex-direction: column;
    width: 90%;
  }
  .filter {
    font-size: 15px;
    color: $color-dark;
    flex: 30%;
    .in-progress {
      color: $color-primary;
      font-weight: bold;
      padding: 20px;
      font-size: 25px;
      white-space: nowrap;
      @media (max-width: 1200px) {
        text-align: center;
      }
    }
    .separate-line {
      width: 100%;
      background-color: $color-dark;
      border-radius: 25px;
      height: 2px;
      opacity: 80%;
      @media (max-width: 1200px) {
        margin: auto;
        width: 70%;
      }
    }
    .category-filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      .title-filter {
        font-size: 15px;
        @media (max-width: 1200px) {
          font-size: 10px;
        }
      }
      .select-container {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .select {
          width: 100%;
          @media (max-width: 1200px) {
            justify-content: space-between;
            width: 100%;
          }
          .label {
            padding-bottom: 5px;
          }
          option {
            &:checked {
              background-color: $color-primary;
            }
          }
        }
      }

      .radio-category-container {
        padding-top: 20px;
        padding-bottom: 20px;
        align-self: start;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1200px) {
          width: 40%;
          margin: auto;
        }
        .radio-category {
          display: flex;
          flex-wrap: nowrap;
          align-items: start;
          gap: 8px;
        }
      }
    }
    .btn-filter {
      width: 90%;
      margin-top: 20px;
      margin-bottom: 20px;
      @media (max-width: 1200px) {
        align-self: center;
        margin-bottom: 25px;
      }
    }
  }
  .container-section {
    gap: 15px;
    flex: 70%;
    .card-watch {
      position: relative;
      width: 100%;
      height: fit-content;
      max-height: 250px;
      border: solid 2px $color-dark;
      padding: 10px 30px 10px 10px;
      gap: 0 20px;
      will-change: contents;
      transition: 0.5s;
      &:hover {
        transform: scale(102%);
      }
      @media (max-width: 767px) {
        width: 400px;
      }
      .infos {
        flex: 70%;
        gap: 10px;
      }
      .price {
        font-weight: bold;
        font-size: 20px;
        color: $color-primary;
      }
      .brand-model {
        font-size: 23px;
        color: $color-dark;
        font-weight: bold;
      }
      .desc {
        color: gray;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
      .show-more-button {
        position: absolute;
        right: 25px;
        bottom: 25px;
      }
      .img-product {
        flex: 30%;
        height: 200px;
        align-self: center;
      }
    }
    .alertMsg {
      color: red;
      @media (max-width: 1200px) {
        text-align: center;
      }
    }
  }
}
