.container-main {
  padding: 30px 10px;
}

.container-section {
  gap: 15px;
  flex: 70%;
  background-color: lightblue;
}

.filter {
  flex: 30%;
  background-color: pink;
}

.card-watch {
  width: 600px;
  height: fit-content;
  max-height: 250px;
  border: solid 2px $color-dark;
  padding: 10px 30px 10px 10px;
  gap: 0 20px;
}

.infos {
  flex: 70%;
  gap: 10px;
}

.price {
  font-weight: bold;
  font-size: 20px;
  color: $color-primary;
}

.brand-model {
  font-size: 23px;
  color: $color-dark;
  font-weight: bold;
}

.desc {
  color: gray;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.show-more-button {
  align-self: flex-end;
}

.img-product {
  flex: 30%;
  height: 200px;
  background-color: brown;
  align-self: center;
}
