<nav class="navbar navbar-expand-lg  bg-body-tertiary">
    <div class="container-lg">
        <a class="w-100 title d-flex align-items-baseline justify-content-center" href="{{path('home.index')}}">LA<span>X</span>AR</a>
    </div>
</nav>
