<div class="footer container-fluid">

	<footer class="container-lg text-center text-lg-start pt-4">

		<div
			class="row">
			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<h5 class="mb-4 title">LA<span>X</span>AR</h5>
				<h5 class="text-white mb-4 fw-bold">Suivez nous</h5>
				<div class="d-flex justify-content-center justify-content-lg-start">
					<a href="#">
						<i class="fa-brands fa-square-twitter fs-3"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-square-instagram fs-3 mx-2"></i>
					</a>
					<a href="#">
						<i class="fa-brands fa-square-facebook fs-3"></i>
					</a>
				</div>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<h5 class="text-white mb-4 fw-bold">Get Help</h5>

				<ul class="list-unstyled">
					<li>
						<a href="#" class="nav-link">Commandes</a>
					</li>
					<li>
						<a href="#" class="nav-link">Livraison</a>
					</li>
					<li>
						<a href="#" class="nav-link">Retour</a>
					</li>
					<li>
						<a href="#" class="nav-link">Paiement</a>
					</li>
					<li>
						<a href="#" class="nav-link">Contactez nous</a>
					</li>
				</ul>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<h5 class="text-white mb-4 fw-bold">Company</h5>

				<ul class="list-unstyled">
					<li>
						<a href="#!" class="nav-link">A Propos</a>
					</li>
					<li>
						<a href="#" class="nav-link">News</a>
					</li>
					<li>
						<a href="#" class="nav-link">Carrieres</a>
					</li>
				</ul>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-end">
				<h5 class="text-white mb-4 fw-bold">Newsletter</h5>

				<form class="form-outline form-white row ">
					<label class="form-label text-white col-12" for="newsletter">Pour recevoir nos informations, inscrivez vous a notre newsletter</label>
					<div class="col-7">
						<input type="email" id="newsletter" class="form-control" placeholder="Jean@gmail.com"/>
					</div>

					<button type="submit" class="btn btn-primary ms-auto col-5">S'inscrire</button>
				</form>
			</div>
			<!--Grid column-->
		</div>
		<!--Grid row-->


		<!-- Copyright -->
		<p class="text-center p-3 text-white">Laxar © 2023. Tous droit résérvés.</p>
		<!-- Copyright -->
	</footer>

</div>
